
<!-- top navbar-->
<nav class="navbar navbar-fixed-top sw-nav-blue">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/user"
         class="navbar-link sw-text-white">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>
    <a routerLink="/user/{{uid}}/website"
       class="pull-left navbar-brand thick">
      <b class="sw-text-white">Websites</b>
    </a>
    <button routerLink="/user/{{uid}}/website/new"
       class="btn btn-xs sw-button-transparent navbar-link navbar-text pull-right sw-icon-padding">
      <span class="glyphicon glyphicon-plus sw-text-white"></span>
    </button>
  </div>
</nav>

<!--websites list-->
<div  class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item sw-borderless"
        *ngFor="let website of websites">
      <a class="sw-link"
         routerLink="/user/{{uid}}/website/{{website._id}}/page">{{website.name}}</a>
      <a routerLink="/user/{{uid}}/website/{{website._id}}">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom sw-nav-blue">
  <div class="container-fluid">
    <a routerLink="/user" class="navbar-text pull-right">
      <span class="glyphicon glyphicon-user sw-icon-padding sw-text-white"></span>
    </a>
  </div>
</nav>
