<!-- top navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left sw-text-black"></span>
      </a>
    </p>
    <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{wgid}}"
       class="pull-left navbar-brand thick">
      <b>Widget edit</b>
    </a>
    <button type="submit"
            [disabled]="!f.valid"
            form="widgetForm"
            class="btn btn-xs sw-button-transparent navbar-link navbar-text pull-right sw-icon-padding">
      <span class="glyphicon glyphicon-ok sw-text-black"></span>
    </button>
  </div>
</nav>

<!--form-->
<div class="container-fluid">
  <form (ngSubmit)="update()"
        id="widgetForm"
        #f ="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name"
             id="name"
             name="name"
             placeholder="Name of the widget"
             ngModel="{{widget.name}}"
             #name="ngModel"
             class="form-control"/>
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <input type="text"
             id="text"
             name="text"
             placeholder="Text of the widget"
             ngModel="{{widget.text}}"
             required
             #text="ngModel"
             class="form-control"/>
    </div>
    <div class="form-group">
      <label for="rows">Rows</label>
      <input type="number"
             id="rows"
             name="rows"
             placeholder="number of Rows"
             ngModel="{{widget.rows}}"
             required
             #rows="ngModel"
             class="form-control"/>
    </div>
    <div class="form-group">
      <label for="placeholder">Placeholder</label>
      <input type="text"
             id="placeholder"
             name="placeholder"
             placeholder="placeholder"
             ngModel="{{widget.placeholder}}"
             required
             #placeholder="ngModel"
             class="form-control"/>
    </div>

    <div class="form-group">
      <div class="input-group">
        <input type="text"
               readonly
               value="Formatted"
               class="form-control"/>
        <span class="input-group-addon">
        <input [(ngModel)]="widget.formatted"
               id="formatted"
               name="formatted"
               type="checkbox"/>
    </span>
      </div>
    </div>
    <span class="help-block"
          *ngIf="!text.valid && text.touched">Text can't be empty!</span>
    <div class="row">
      <div class="col-xs-6">
        <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"
           class="btn btn-warning btn-block">Cancel</a>
      </div>
      <div class="col-xs-6">
        <a (click)="remove()"
           class="btn btn-danger btn-block">Delete</a>
      </div>
    </div>
  </form>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid navbar-text pull-right">
    <a routerLink="/user">
      <span class="glyphicon glyphicon-user sw-icon-padding pull-right"></span>
    </a>
  </div>
</nav>
