<!-- top navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/user/{{uid}}/website/{{wid}}/page"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left sw-text-black"></span>
      </a>
    </p>
    <a routerLink="/user/{{uid}}/website/{{wid}}/page/new"
       class="pull-left navbar-brand thick">
      <b>New Page</b>
    </a>
    <button type="submit"
            [disabled]="!f.valid"
            form="pageForm"
            class="btn btn-xs sw-button-transparent navbar-link navbar-text pull-right sw-icon-padding">
      <span class="glyphicon glyphicon-ok sw-text-black"></span>
    </button>
  </div>
</nav>

<!--pages list-->
<div class="container-fluid">
  <form (ngSubmit)="create()"
        #f ="ngForm"
        id="pageForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             id="name"
             name="name"
             placeholder="Blog name"
             required
             ngModel
             #name="ngModel"
             class="form-control"/>
    </div>
    <span class="help-block"
          *ngIf="!name.valid && name.touched">Name can't be empty!</span>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text"
             id="title"
             name="title"
             placeholder="Blog Title"
             ngModel
             #title="ngModel"
             class="form-control"/>
    </div>
    <div>
      <a routerLink="/user/{{uid}}/website/{{wid}}/page"
         class="btn btn-warning btn-block">Cancel</a>
    </div>
  </form>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid navbar-text pull-right">
    <a routerLink="/user">
      <span class="glyphicon glyphicon-user sw-icon-padding"></span>
    </a>
  </div>
</nav>
