<!-- top navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/user/{{uid}}/website"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left sw-text-black"></span>
      </a>
    </p>
    <a routerLink="/user/{{uid}}/website/{{wid}}/page"
       class="pull-left navbar-brand thick">
      <b>Pages</b>
    </a>
    <a routerLink="/user/{{uid}}/website/{{wid}}/page/new"
       class="navbar-link navbar-text pull-right sw-icon-padding">
      <span class="glyphicon glyphicon-plus sw-text-black"></span>
    </a>
  </div>
</nav>

<!--pages list-->
<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item sw-borderless"
        *ngFor="let page of pages">
      <a class="sw-link" routerLink="{{page._id}}/widget">{{page.name}}</a>
      <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{page._id}}">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid navbar-text pull-right">
    <a routerLink="/user">
      <span class="glyphicon glyphicon-user sw-icon-padding"></span>
    </a>
  </div>
</nav>
