<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <p class="navbar-text pull-left">
      <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"
         class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left sw-text-black"></span>
      </a>
    </p>
    <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new"
       class="pull-left navbar-brand thick">
      <b>Choose Widget</b>
    </a>
  </div>
</nav>

<!--widget chooser-->
<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item sw-borderless">
      <a class="sw-link"
         (click)="createHead()">
        <button class="btn sw-button-transparent">Header</button>
      </a>
    </li>

    <li class="list-group-item sw-borderless">
      <a class="sw-link"
         (click)="createHtml()">
        <button class="btn sw-button-transparent">HTML</button>
      </a>
    </li>
    <li class="list-group-item sw-borderless">
      <a class="sw-link" (click)="createText()">
        <button class="btn sw-button-transparent">Text Input</button>
      </a>
    </li>
    <li class="list-group-item sw-borderless">


    <li class="list-group-item sw-borderless">
      <a class="sw-link"
         (click)="createImage()">
        <button class="btn sw-button-transparent">Image</button>
      </a>
    </li>
    <li class="list-group-item sw-borderless">
      <a class="sw-link"
         (click)="createYoutube()">
        <button class="btn sw-button-transparent">Youtube</button>
      </a>
    </li>


  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid navbar-text pull-right">
    <a routerLink="/profile">
      <span class="glyphicon glyphicon-user sw-icon-padding pull-right"></span>
    </a>
  </div>
</nav>
